<div class="comment animate">
    <p class="name"><strong><%= comment.name %></strong></p>
    <% if current_admin %>
        <%= link_to article_comment_path(@article, comment), method: :delete, remote: true do %>
        <button class="btn btn-sm btn-outline-danger btn-delete">Delete Comment</button>
        <% end %>
    <% end %>
    <p class="time"><%= time_ago_in_words(comment.created_at) %> ago</p>
    <p class="content"><%= comment.content %></p>
</div>
