<div class="container">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <h1>Edit article</h1>

            <%= render 'form' %>
            <div class="line"></div>
            <%= link_to @article do %>
                <button class="btn btn-outline-primary btn-sm"><i class="fa fa-chevron-left" aria-hidden="true"></i> &nbsp;Back to article</button>
            <% end %>
        </div>
    </div>
</div>
