<!-- footer -->
    <footer>
        <div class="footer-nav">
            <ul class="links">
                <li><a href="<%=welcome_index_path%>">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="<%=articles_path%>">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="social">
                <a href="https://www.facebook.com/cam.cabo"><li class="icon"><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
                <li class="spacer"></li>
                <a href="http://github.com/ccabo1"><li class="icon"><i class="fa fa-github" aria-hidden="true"></i></li></a>
                <li class="spacer"></li>
                <a href="http://linkedin.com/in/cameroncabo"><li class="icon"><i class="fa fa-linkedin" aria-hidden="true"></i></li></a>
                <li class="spacer"></li>
                <a href="mailto:ccabo@wharton.upenn.edu"><li class="icon"><i class="fa fa-envelope" aria-hidden="true"></i></li></a>
            </ul>
        </div>
        <div class="footer-line"></div>
        <p>
            <a href="cameroncabo.com/" target="_blank">Cameron Cabo</a> &copy; 2017, all rights reserved.<br> Made with &hearts; in Los Angeles.
        </p>
    </footer>
    <div class="footer-bottom">
        <p>Created by <a href="http://cameroncabo.com/" target="_blank">Cameron Cabo.</a></p>
    </div>
