<head>
    <title>Cameron Cabo | Art/Design</title>
    <meta
        name="description"
        content="I approach every problem with a design-oriented perspective because it is only thorugh a well-designed product that a problem can be effectively solved. Art and design have always been an integral part of my life and I always appreciate taking the time to make more.">
</head>

<div class="container bg pad-top-25 pad-bot-100 border-bot" id="projects">
    <div class="space"></div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <h1 class="title pad-bot-25">Design and creativity are in everything.</h1>
            <p class="pitch pad-bot-25">
                Ever since preschool I have loved to draw, build, and create. I approach every challenge, job, and goal with an artist's mindset to yield impactful and well-crafted products.
            </p>
        </div>
    </div>
</div>

<div class="space"></div>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
            <h2>Fine Art</h2>
            <div class="line marg-bot-50"></div>
            <div class="card-columns serif" id="art-columns">
                <div class="card art">
                    <a href="/assets/art/1.JPG" target="_blank"><img src="/assets/art/1.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Study of the Eye</h5>
                        <p>
                            <i>2016</i>
                        </p>
                        <p>Graphite on paper.</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/2.JPG" target="_blank"><img src="/assets/art/2.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Study of the Iris</h5>
                        <p>
                            <i>2016</i>
                        </p>
                        <p>Hard pastel on paper</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/7.JPG" target="_blank"><img src="/assets/art/7.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Self-Portrait: Barriers</h5>
                        <p>
                            <i>2015</i>
                        </p>
                        <p>Graphite, white and black pencil on cardboard.</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/11.JPG" target="_blank"><img src="/assets/art/11.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Hand Morph</h5>
                        <p>
                            <i>2014</i>
                        </p>
                        <p>Graphite on illustration board.</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/15.JPG" target="_blank"><img src="/assets/art/15.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Still-Life: Emotions</h5>
                        <p>
                            <i>2014</i>
                        </p>
                        <p>Graphite on paper.</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/5.JPG" target="_blank"><img src="/assets/art/5.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Perspective</h5>
                        <p>
                            <i>2016</i>
                        </p>
                        <p>Acrylic on canvas board.</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/16.JPG" target="_blank"><img src="/assets/art/16.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Self-Portrait: Box</h5>
                        <p>
                            <i>2015</i>
                        </p>
                        <p>Black and white watercolor pencil, acrylic, tape on drawing board.</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/9.jpg" target="_blank"><img src="/assets/art/9.jpg" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Fahrenheit 451 Alternate Cover</h5>
                        <p>
                            <i>2013</i>
                        </p>
                        <p>Spray paint on newspaper on canvas</p>
                    </div>
                </div>

                <div class="card art">
                    <a href="/assets/art/12.jpg" target="_blank"><img src="/assets/art/12.jpg" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Glint</h5>
                        <p>
                            <i>2015</i>
                        </p>
                        <p>Acrylic on illustration board</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/10.jpg" target="_blank"><img src="/assets/art/10.jpg" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Impressionist Self-Portrait</h5>
                        <p>
                            <i>2015</i>
                        </p>
                        <p>Soft-pastel on illustration board.</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/8.JPG" target="_blank"><img src="/assets/art/8.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Self-Portrait: Creation</h5>
                        <p>
                            <i>2016</i>
                        </p>
                        <p>Graphite on paper</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/4.JPG" target="_blank"><img src="/assets/art/4.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Self-Portrait: Color</h5>
                        <p>
                            <i>2016</i>
                        </p>
                        <p>Watercolor, ink on paper</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/13.JPG" target="_blank"><img src="/assets/art/13.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Old Masters' Drawing Recreation</h5>
                        <p>
                            <i>2014</i>
                        </p>
                        <p>Conte crayon on neutral paper.</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/14.JPG" target="_blank"><img src="/assets/art/14.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Study of the Female Nude</h5>
                        <p>
                            <i>2015</i>
                        </p>
                        <p>Graphite and charcoal on paper.</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/3.JPG" target="_blank"><img src="/assets/art/3.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Self-Portrait: Light</h5>
                        <p>
                            <i>2016</i>
                        </p>
                        <p>Oil on canvas.</p>
                    </div>
                </div>
                <div class="card art">
                    <a href="/assets/art/6.JPG" target="_blank"><img src="/assets/art/6.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h5>Self-Portrait: Pain</h5>
                        <p>
                            <i>2016</i>
                        </p>
                        <p>Charcoal on canvas.</p>
                    </div>
                </div>
            </div>

            <div class="space"></div>

        </div>
        <!-- close col -->
    </div>
    <!-- close row -->
</div>
<!-- close container -->

<div class="gray no-pad">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10 offset-lg-1">

                <div class="space"></div>

                <h2>Design</h2>
                <div class="line marg-bot-50"></div>

                <div class="card-columns" id="design-columns">

                    <div class="card design">
                        <a href="/assets/design/startup.png" target="_blank"><img src="/assets/design/startup.png" alt="" class="card-img-top img-fluid"></a>
                        <div class="card-block">
                            <h4>
                                Startup@Penn
                            </h4>
                            <p>
                                <i>Spring 2017</i>
                            </p>
                            <p>
                                <a href="http://youthhack.net/" target="_blank">YouthHack</a>, in collaboration with the
                                <a href="http://www.seas.upenn.edu/~penntec/" target="_blank">Penn Technology and Entrepreneurship Club</a>
                                hosted a week of daily events relating to ideation and startup culture and Penn and beyond. I lead marketing and design operations, creating cover photos, posters, emails to listserves, and graphics in order to ensure strong attendance.
                            </p>
                        </div>
                    </div>

                    <div class="card design">
                        <a href="/assets/design/MobyDick.png" target="_blank"><img src="/assets/design/MobyDick.png" alt="" class="card-img-top img-fluid"></a>
                        <div class="card-block">
                            <h4>
                                HW Reads: Moby Dick
                            </h4>
                            <p>
                                <i>Spring 2015</i>
                            </p>
                            <p>
                                My school hosted an all-night read of Melville's
                                <i>Moby Dick</i>. To help, I created a logo, presentation, posters, and t-shirts which promoted the event and gave it a currated look. I tried to capture important symbols from the book and place them in a logo for all media related to the event.
                            </p>
                        </div>
                    </div>

                    <div class="card design">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-6 push-3">
                                    <a href="/assets/design/R.png" target="_blank">
                                        <img src="/assets/design/R.png" alt="" class="img-fluid pad-bot-50">
                                    </a>
                                </div>
                            </div>
                            <h4>
                                Project R
                            </h4>
                            <p>
                                <i>Summer 2015</i>
                            </p>
                            <p>
                                This was the logo for the culminating project of my Sci-Art Nanolab class at UCLA. The objective was to "Imagine the Impossible." Project R, which gets its namesake from the adaptive "R" group of organic chemisty, was a prosthetic which utilizes
                                conductive graphine and hydrostatic gel layers to simulate human muscles. The idea built off of recent research which layered onion cells and gold foil and passed through electric current causing the aparatus to contract like a muscle.
                            </p>
                        </div>
                    </div>

                    <div class="card design">
                        <a href="/assets/design/Mind.png" target="_blank"><img src="/assets/design/Mind.png" alt="" class="card-img-top img-fluid"></a>
                        <div class="card-block">
                            <h4>
                                Mind the Gap
                            </h4>
                            <p>
                                <i>Spring 2015</i>
                            </p>
                            <p>
                                I created a logo, posters, and a presentation for an event hosted by a club I was involved in at Harvard-Westlake, the Society of Global Affairs. The event centered on bringing in speakers successful across business, medicine, tech, and beyond to
                                discuss the steps behind creation and innovation: behind "minding the gap" from idea to reality. I created the logo to reflect the power and importance of the topic itself.
                            </p>
                        </div>
                    </div>

                    <div class="card design">
                        <a href="/assets/design/Gym.png" target="_blank"><img src="/assets/design/Future.png" alt="" class="card-img-top img-fluid"></a>
                        <div class="card-block">
                            <h4>
                                The Future Now
                            </h4>
                            <p>
                                <i>Spring 2016</i>
                            </p>
                            <p>
                                This was the Society of Global Affair's second annual event. This one centered on individuals speaking about how technology is shaping the futures of their respective fields right now. Again, I created posters, logos, and a presentation for this
                                event.
                            </p>
                        </div>
                    </div>

                    <div class="card design">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-4 push-4">
                                    <a href="/assets/design/Venture.jpg" target="_blank">
                                        <img src="/assets/design/Venture.jpg" alt="" class="img-fluid pad-bot-50">
                                    </a>
                                </div>
                            </div>
                            <h4>
                                HW Venture
                            </h4>
                            <p>
                                <i>2015</i>
                            </p>
                            <p>
                                I was the design and marketing specialist for a HW Venture my senior year of high school. HW Venture is dedicated to inspiring entrepreneurial culture within the HW community. Through the club's logo and curated social media presence, in addition to
                                providing a design perspective at club meetings, I contributed this aim.
                            </p>
                        </div>
                    </div>

                    <div class="card design">
                        <a href="/assets/design/Westside.jpg" target="_blank"><img src="/assets/design/Westside.jpg" alt="" class="card-img-top img-fluid"></a>
                        <div class="card-block">
                            <h4>
                                Westside Story Poster
                            </h4>
                            <p>
                                <i>Fall 2015</i>
                            </p>
                            <p>
                                I was comissioned to do the artwork for my school's rendition of Laurents's American classic
                                <i>Westside Story.</i>
                                I focused on the play's setting in the city and so too the divisive qualities of its gang-culture, using red to foreshadow its dangerous result.
                            </p>
                        </div>
                    </div>

                    <div class="card design">
                        <a href="/assets/design/Beacon.jpg" target="_blank"><img src="/assets/design/Beacon.jpg" alt="" class="card-img-top img-fluid"></a>
                        <div class="card-block">
                            <h4>
                                Beacon Site Simulation
                            </h4>
                            <p>
                                <i>Summer 2015</i>
                            </p>
                            <p>
                                I was tasked with creating an image which showed proespective parents and students what their school will look like. I mounted Beacon's logo on an ivy wall and added leaves and shadow to make it appear as one with the wall.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- close col -->
        </div>
        <!-- close row -->
    </div>
    <!-- close container -->

    <div class="space"></div>
    <div class="space"></div>
</div>
<!-- close gray -->
