<head>
    <title>Cameron Cabo | Art/Design</title>
    <meta
        name="description"
        content="I approach every problem with a design-oriented perspective because it is only thorugh a well-designed product that a problem can be effectively solved. Art and design have always been an integral part of my life and I always appreciate taking the time to make more.">
</head>

<div class="container bg pad-top-25 pad-bot-100 border-bot" id="projects">
    <div class="space"></div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <h1 class="title pad-bot-25">Design and creativity are in everything.</h1>
            <p class="pitch pad-bot-25">
                Ever since preschool I have loved to draw, build, and create. I approach every challenge, job, and goal with an artist's mindset to yield impactful and well-crafted products.
            </p>
        </div>
    </div>
</div>

<div class="space"></div>

<div class="container">
    <div class="row">
        <div class="col-12 col-lg-10 offset-md-1">
            <h2>Fine Art</h2>
            <div class="line marg-bot-50"></div>
            <div class="card-columns serif">
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/1.JPG" target="_blank"><img src="/assets/art/1.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Study of the Eye</h4>
                        <p><i>2016</i></p>
                        <p>Graphite on paper.</p>
                    </div>
                </div>
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/2.JPG" target="_blank"><img src="/assets/art/2.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Study of the Iris</h4>
                        <p><i>2016</i></p>
                        <p>Hard pastel on paper</p>
                    </div>
                </div>
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/7.JPG" target="_blank"><img src="/assets/art/7.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Self-Portrait: Barriers</h4>
                        <p><i>2015</i></p>
                        <p>Graphite, white and black pencil on cardboard.</p>
                    </div>
                </div>
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/11.JPG" target="_blank"><img src="/assets/art/11.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Hand Morph</h4>
                        <p><i>2014</i></p>
                        <p>Graphite on illustration board.</p>
                    </div>
                </div>
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/15.JPG" target="_blank"><img src="/assets/art/15.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Still-Life: Emotions</h4>
                        <p><i>2014</i></p>
                        <p>Graphite on paper.</p>
                    </div>
                </div>
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/5.JPG" target="_blank"><img src="/assets/art/5.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Perspective</h4>
                        <p><i>2016</i></p>
                        <p>Acrylic on canvas board.</p>
                    </div>
                </div>
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/16.JPG" target="_blank"><img src="/assets/art/16.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Self-Portrait: Box</h4>
                        <p><i>2015</i></p>
                        <p>Black and white watercolor pencil, acrylic, tape on drawing board.</p>
                    </div>
                </div>
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/9.jpg" target="_blank"><img src="/assets/art/9.jpg" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Fahrenheit 451 Alternate Cover</h4>
                        <p><i>2013</i></p>
                        <p>Spray paint on newspaper on canvas</p>
                    </div>
                </div>

                <div class="card marg-bot-50 art">
                    <a href="/assets/art/12.jpg" target="_blank"><img src="/assets/art/12.jpg" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Glint</h4>
                        <p><i>2015</i></p>
                        <p>Acrylic on illustration board</p>
                    </div>
                </div>
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/10.jpg" target="_blank"><img src="/assets/art/10.jpg" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Impressionist Self-Portrait</h4>
                        <p><i>2015</i></p>
                        <p>Soft-pastel on illustration board.</p>
                    </div>
                </div>
				<div class="card marg-bot-50 art">
                    <a href="/assets/art/8.JPG" target="_blank"><img src="/assets/art/8.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Self-Portrait: Creation</h4>
                        <p><i>2016</i></p>
                        <p>Graphite on paper</p>
                    </div>
                </div>
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/4.JPG" target="_blank"><img src="/assets/art/4.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Self-Portrait: Color</h4>
                        <p><i>2016</i></p>
                        <p>Watercolor, ink on paper</p>
                	</div>
            	</div>
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/13.JPG" target="_blank"><img src="/assets/art/13.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Old Masters' Drawing Recreation</h4>
                        <p><i>2014</i></p>
                        <p>Conte crayon on neutral paper.</p>
                    </div>
                </div>
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/14.JPG" target="_blank"><img src="/assets/art/14.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Study of the Female Nude</h4>
                        <p><i>2015</i></p>
                        <p>Graphite and charcoal on paper.</p>
                    </div>
                </div>
                <div class="card marg-bot-50 art">
                    <a href="/assets/art/3.JPG" target="_blank"><img src="/assets/art/3.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Self-Portrait: Light</h4>
                        <p><i>2016</i></p>
                        <p>Oil on canvas.</p>
                    </div>
                    </div>
  				<div class="card marg-bot-50 art">
                    <a href="/assets/art/6.JPG" target="_blank"><img src="/assets/art/6.JPG" alt="" class="card-img-top img-fluid"></a>
                    <div class="card-block">
                        <h4>Self-Portrait: Pain</h4>
                        <p><i>2016</i></p>
                        <p>Charcoal on canvas.</p>
                    </div>
                </div>
            </div>

            <div class="space"></div>
            <div class="space"></div>
            <div class="space"></div>
            <div class="space"></div>

            <div class="card-columns">
                <div class="card marg-bot-50 art">
                    <img class="card-img-top img-fluid img-fluid" src="..." alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Card title that wraps to a new line</h4>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="card p-3">
                    <blockquote class="card-block card-blockquote">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>
                            <small class="text-muted">
                                Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card marg-bot-50 art">
                    <img class="card-img-top img-fluid img-fluid" src="..." alt="Card image cap">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
                <div class="card card-inverse card-primary p-3 text-center">
                    <blockquote class="card-blockquote">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
                        <footer>
                            <small>
                                Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card text-center">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
                <div class="card marg-bot-50 art">
                    <img class="card-img img-fluid" src="..." alt="Card image">
                </div>
                <div class="card p-3 text-right">
                    <blockquote class="card-blockquote">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>
                            <small class="text-muted">
                                Someone famous in
                                <cite title="Source Title">Source Title</cite>
                            </small>
                        </footer>
                    </blockquote>
                </div>
                <div class="card marg-bot-50 art">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        <p class="card-text">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </p>
                    </div>
                </div>
            </div>

            <div class="space"></div>
            <h2>Design</h2>
            <div class="line marg-bot-50"></div>

        </div>
    </div>
</div>

<div class="full-width h-40"></div>
