<div class="container bg pad-top-25 pad-bot-100" id="landscape">
    <div class="row">
        <div class="col-xs-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <h1 class="title pad-bot-25">Hi! I'm Cameron.</h1>
            <p class="pitch pad-bot-50">I'm a driven learner, freelance web developer, and product builder&mdash;
passionate for entrepreneurship, user experience, analytics, and marketing.
<br><br>
I study computer science, business analytics, and management of entrepreneurship in the Jerome Fisher Program at the University of Pennsylvania and, when not at school, live in Los Angeles.</p>
            <%= link_to projects_path do %>
                <button class="btn btn-outline-primary">View my projects</button>
            <% end %>
            <%= link_to articles_path do %>
                <button class="btn btn-outline-primary">View My Blog</button>
            <% end %>
            <%= link_to contact_path do %>
                <button class="btn btn-outline-primary">Contact Me</button>
            <% end %>
        </div>
    </div>
</div>
<div class="container">
    <div class="row pad-top-25">
        <div class="col-xs-12">
            <h1>Education</h1>
            <div class="line"></div>
        </div>
    </div>
    <div class="row pad-top-25">
        <div class="col-xs-12">
            <h1>Experience</h1>
            <div class="line"></div>
        </div>
    </div>
    <div class="row pad-top-25">
        <div class="col-xs-12">
            <h1>Technologies</h1>
            <div class="line"></div>
        </div>
    </div>
</div>
