<head>
  <% title 'Cameron Cabo | 404' %>
</head>

<div class="full-height gray">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
        <div class="space-4"></div>
        <div class="white pad-2 other">
          <h2 class="marg-bot-1">404 error, oh man!</h2>
          <p>
            Seems like this page was either moved or doesn't exist. If you think this is a mistake, please <%= link_to 'contact me', new_contact_path %> with a description of what happened.
          </p>
          <div class="space-1"></div>
          <%= link_to 'Back to home', root_path, class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
  <div class="space-4"></div>
</div>
