<div class="container bg pad-top-25 pad-bot-100" id="blue">
    <div class="space"></div>
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
            <h1 class="title pad-bot-25">Hi! This page is in development, please check back soon.</h1>
        </div>
    </div>
</div>

<div class="full-width h-40"></div>
