<div class="blue-backer bg"></div>
<div class="gray min-height-60">
    <div class="space pad-top-50"></div>
    <div class="container">
        <div class="row pad-top-25 pad-bot-25">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 bubble">
                <h2>Thank you for your message</h2>
                <div class="line" id="separator"></div>
                <div class="content">
                    <p>
                        I'll get back to you as soon as possible. While you're waiting, read some <%= link_to 'blog posts', articles_route %> or <%= link_to 'learn more about me.', root_path %>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="space"></div>
</div>

<%= javascript_include_tag "blue-backer.js" %>
