// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.quote {
    font-size: 120%;
    font-style: italic;
    border-left: 4px solid rgba(0, 0, 0, .15);
    padding-left: 24px;
    padding-top: 1.25vh;
    padding-bottom: 1.25vh;

    p.author {
        font-size: 66.67%;
        width: 100%;
        text-align: right;
        color: gray;
    }
}


.dash {
    margin: 2.5vh 0;
    height: 1px;
    padding: 0;
    border-top: 3px dashed rgba(0, 0, 0, 0.3);
}

.caption {
    font-size: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: gray;
    font-style: italic;
    width: 100%;
}

span.code {
    background: rgba(0, 0, 100, 0.05);
    color: black;
    border-radius: 0.25rem;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 85%;
    padding: .25rem;
}

pre {
    background: rgba(0, 0, 100, 0.05) !important;
    border-radius: 0.25rem;
}
