.projects-container {
    padding: 0 2.5vw;
}

.project {
    border-radius: 1.25vh;
    background: gray;
    color: white;

    @media screen and (max-width: 480px) {
        padding: 5vw !important;
    }
    @media screen and (min-width: 480.1px) and (max-width: 720px) {
        padding: 7.5vw !important;
    }
    @media screen and (min-width: 720.1px) {
        padding: 7.5vh !important;
    }
    @media screen and (orientation: portrait) {
        padding: 7.5vw;
    }
}

.ss {
    height: 0px;
    text-align: center;

    img {
        display: inline-block;
        overflow: hidden;
    }
}

.ss img {
    height: 100%;
    width: auto;
}

.ss-same img {
    width: 100%;
    height: auto;
}

.ss-wrapper {
    padding-bottom: 5vh;
    width: 100%;

    .desktop, .desktop-same-width, .mobile {
        background: gainsboro;
        display: inline-block;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);

        &:hover {
            box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
        }
    }

    .desktop-same-width, .desktop {
        padding: 8px 2px 22px 2px;
        border-radius: 4px;

        .desktop-circles {
            width: 100%;
            text-align: right;
            padding-bottom: 4px;

            .circle {
                display: inline-block;
                height: 16px;
                width: 16px;
                background: gray;
                margin-right: 6px;
                cursor: pointer;
                cursor: hand;
            }
        }

        .green:hover {
            background: #33A329;
        }

        .yellow:hover {
            background: #FFF200;
        }

        .red:hover {
            background: #AD0F00;
        }
    }

    .ss, .ss-same {
        width: 100%;
    }

    .second {
        float: right;
    }

    .mobile {
        text-align: center;
        padding: 0px 2px 2px 2px;
        float: right;
        border-radius: 8px;

        .mobile-top {
            margin-bottom: 4px;
            position: relative;
            display: block;
            width: 100%;

            .cam {
                height: 6px;
                width: 6px;
                margin-right: 6px;
                display: inline-block;
                border-radius: 100%;
                background: gray;
            }

            .speaker {
                display: inline-block;
                border-radius: 2px;
                height: 4px;
                margin: 1px 0px;
                width: 20px;
                background: gray;
            }
        }

        .home-wrapper {
            width: 100%;
            display: block;
            position: relative;
            margin-bottom: 0px;
            line-height: 0;

            .home {
                border: 2px solid gray;
                border-radius: 100%;
                height: 18px;
                width: 18px;
                margin-top: 6px;
                margin-bottom: 4px;
                display: inline-block;
                cursor: pointer;
                cursor: hand;
            }

            .home:hover {
                background: rgba(0, 0, 0, 0.15);
            }
        }
    }
}

.btn-project {
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease;
    background: #888888;
    color: white;
    margin-top: 1rem;
}

.btn-project:hover {
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
    -ms-transform: translateY(2px); /* IE 9 */
    -webkit-transform: translateY(2px); /* Safari */
    transform: translateY(2px);
}

#project-blog {
    background: #1a8cff;

    .btn-project {
        background: #66b3ff;
    }

    .btn-project:hover {
        background: #99ccff;
    }
}

#project-flashcards {
    background: #4d88ff;

    .btn-project {
        background: #80aaff;
    }

    .btn-project:hover {
        background: #b3ccff;
    }
}

#project-outreach {
    background: #ff6600;

    .btn-project {
        background: #ff8533;
    }

    .btn-project:hover {
        background: #ffa366;
    }
}

#project-tic-tac-toe {
    background: #404040;

    .btn-project {
        background: #606060;
    }

    .btn-project:hover {
        background: #707070;
    }
}

#project-ar {
    background: #00bfff;

    .btn-project {
        background: #4dd2ff;
    }

    .btn-project:hover {
        background: #80dfff;
    }
}

#project-minesweeper {
    background: #ff4d4d;

    .btn-project {
        background: #ff8080;
    }

    .btn-project:hover {
        background: #ff9999;
    }
}

#project-sustain {
    background: #00cc66;

    .btn-project {
        background: #00ff80;
    }

    .btn-project:hover {
        background: #33ff99;
    }
}

#project-yh {
    background: #f5d400;

    .btn-project {
        background: #ffe747;
    }

    .btn-project:hover {
        background: #ffec70;
    }
}

#project-camstagram {
    background: #3366ff;

    .btn-project {
        background: #668cff;
    }

    .btn-project:hover {
        background: #99b3ff;
    }
}

#project-site {
    background: #1a8cff;

    .btn-project {
        background: #66b3ff;
    }

    .btn-project:hover {
        background: #99ccff;
    }
}
