/******************************
	Intended for small screen sizes (phones, small windows)
******************************/

@media screen and (max-width: 480px) {
	.no-display-mobile {
		display: none !important;
	}
}

/******************************
	Intended for small devices (phones)
******************************/

@media only screen and (-webkit-min-device-pixel-ratio: 2)
and (max-device-width: 736px) {
    .no-display-mobile {
        display: none !important;
    }
}

/******************************
    Styling for different screen sizes
******************************/

@media screen and (max-width: 1040px) {
    footer#footer {
        ul.social, ul.links {
            width: 100%;
            float: none;
        }
    }
}

@media screen and (max-width: 575px) {
    .bubble.bubble-flatten {
        border-radius: 0;
    }
}
