/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require rails_bootstrap_forms
 *= require prism
 */
@import "bootstrap";

body {
    a {
        transition: all 0.2s ease;
    }

    a:active,
    a:hover,
    a:visited {
        text-decoration: none;
    }
}

.navbar {
    background: white;
    border-bottom: 1px solid gainsboro;
}

.navbar-toggler {
    height: 55px;
    display: table-cell;
    text-align: middle;
    vertical-align: middle;
    top: 0;
}

.navbar-toggler .icon-bar {
    background-color: #888;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-toggler, .navbar-toggler:visited, .navbar-toggler:active {
    border: 0px solid transparent !important;
    outline: 0 !important;
}

.navbar-toggler {
    background: transparent !important;

    &:hover {
        background: transparent !important;
    }

    .icon-bar {
        width: 22px;
        transition: all 0.2s;
    }

    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .middle-bar {
        opacity: 0;
    }

    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
}

.navbar-toggler.collapsed {
    .top-bar {
        transform: rotate(0);
    }

    .middle-bar {
        opacity: 1;
    }

    .bottom-bar {
        transform: rotate(0);
    }
}

.space {
    display: block;
    width: 100%;
    height: 5vh;
}

.navbar-space {
    display: block;
    width: 100%;
    height: 50px;
}

button {
    outline: 0;
}

label {
    width: 100%;
}

.tag {
    border-radius: 22px;
}

.time {
    color: #666666;
    font-style: italic;
}

.title {
    display: inline-block;
}

.btn {
    cursor: pointer;
    cursor: hand;
}

.buttons {
    float: right;
    vertical-align: top;
}

.line {
    width: 100%;
    margin: 2.5vh 0;
    height: 1px;
    background: #eee;
}
/*footer*/
footer {
    margin-top: 10vh;
    padding: 2.5vh 5vw;
    width: 100%;
    background: #004080;
    color: white;
}

footer a {
    transition: all 0.25s ease;
    color: white;
}

footer a:active,
footer a:hover,
footer a:visited {
    color: white;
    text-decoration: none;
}

.person ul,
footer ul {
    list-style: none;
    padding: 2.5vh 0;
    margin: 0;
    display: inline-block;
}

footer li {
    width: auto;
    font-size: 125%;
    display: inline-block;
}

footer .links li {
    padding-right: 2.5vw;
}

footer .links li .last {
    padding-right: 0;
}

footer .social {
    float: right;
    color: white;
    padding: 1.25vh 0;
}

footer .social li.spacer {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 42px;
}

footer .social li.icon {
    border-radius: 100%;
    border: 2px solid white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 42px;
    width: 42px;
    transition: all 0.2s ease;
    cursor: pointer;
    cursor: hand;
}

footer .social li i {
    transition: all 0.2s ease;
}

footer .social li.icon:hover {
    background: white;
}

footer .social li.icon:hover i {
    color: #004080;
}

.footer-line {
    margin: 0;
    height: 2px;
    width: 100%;
    background: white;
}

footer p {
    padding: 2.5vh 0;
}

.footer-bottom {
    padding: 1vh 5vw;
    width: 100%;
    background: #00264d;
}

.footer-bottom p {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
    color: gray;
}

.footer-bottom a {
    color: #0059b3;
    transition: all 0.25s ease;
}

.footer-bottom a:hover {
    color: #0066cc;
}
