/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require prism
 *= require_tree './app-styles'
 */

@import "bootstrap"; // general formatting

body {
    //Smooth transition styling for all links
    a {
        transition: all 0.2s ease;
    }

    //Avoid underlining on links
    a:active,
    a:hover,
    a:visited,
    a:link {
        text-decoration: none;
    }
}

// useful classes for general use throughout the application
.h-40 {
    height: 40vh;
}

.min-30 {
    min-height: 30vh;
}

.min-height-60 {
    min-height: 60vh;
}

.space-0,
.space-1,
.space-2,
.space-3,
.space-4 {
  display: block;
  width: 100%;
}

.space-0 {
  height: 0rem;
}

.space-1 {
  height: 1rem;
}

.space-2 {
  height: 2rem;
}

.space-3 {
  height: 3rem;
}

.space-4 {
  height: 4rem;
}

.black-text {
  color: black;
}

.full-height {
  min-height: calc(100vh - 50px);
}

.marg-bot-1 {
  margin-bottom: 1rem !important;
}

a.black-text,
a.black-text:active,
a.black-text:hover,
a.black-text:focus,
a.black-text:visited {
  color: black;
}

.bord-top-thick {
  border-top: 0.25rem solid rgba(0, 0, 0, 0.15);
}

.pad-0 {
  padding: 0rem!important;
}

.pad-1 {
  padding: 1rem!important;
}

.pad-2 {
  padding: 2rem!important;
}

.space {
    display: block;
    width: 100%;
    height: 5vh;
}

.half-space {
    display: block;
    width: 100%;
    height: 2.5vh;
}

.empty-spacer {
    display: block;
    width: 100%;
    height: 0;
}

.no-display {
    display: none;
}

.absolute {
    position: absolute !important;
    z-index: 2 !important;
}

.btn-right, .float-right {
    float: right;
    vertical-align: top;
}

.animate {
    transition: all 0.2s ease;
}

.no-scroll {
    overflow: hidden;
}

.center {
    text-align: center;
    width: 100%;
}

button,
button:active,
button:visited {
    outline: 0 !important;
}

label {
    width: 100%;
    font-weight: bold;
}

.time {
    color: #666666;
    font-style: italic;
}

.inline {
    display: inline-block;
}

.collapser,
.collapser:active,
.collapser:hover,
.collapser:visited {
    color: black !important;
    text-decoration: none;
    width: 100%;
    display: block;
    position: relative;

    .fa {
        position: absolute;
        right: 5vh;
        top: 0.5vh;
    }
}

.title {
    display: inline-block;
}

.article-wrapper {
    font-size: 120%;
}

.bigger {
    font-size: 120%;
}

p .pitch {
    font-size: 250%;
}

.blue-backer {
    background-image: image-url('blue.svg');
    position: absolute;
    top: 0;
    left: 0;
}

.bg {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#landscape {
    background-image: image-url('landscape.svg');
}

#blue {
    background-image: image-url('blue.svg');
}

#blog {
    background-image: image-url('blog.svg');
}

#projects {
    background-image: image-url('projects.svg');
}

#art {
    background-image: image-url('art.svg');
}

.btn {
    cursor: pointer;
    cursor: hand;
}

.border-bot {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.buttons {
    margin: 0 auto;
    text-align: center;

    button {
        margin: 0.25rem;
    }
}

.buttons-right {
    float: right;
    vertical-align: top;
}

.gray {
    background: #f6f7f8;
    padding: 0 2.5vw;
    z-index: -2;
}

.blue {
    background: #e6f7ff;
    z-index: -2;
}

.white {
    background: white;
}

.line {
    width: 100%;
    margin: 2.5vh 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
}

.shade {
    box-shadow: 0px 0px 1.25vh rgba(0, 0, 0, 0.15);
}

.shade-top {
    box-shadow: 0px -2.5px 1vh rgba(0, 0, 0, 0.15);
}

.shade-hover {
    transition: all 0.2s ease;
    box-shadow: 0px 0px 1.25vh rgba(0, 0, 0, 0.15);
}

.shade-hover:hover {
    box-shadow: 0px 0px 1.25vh rgba(0, 0, 0, 0.3);
}

.serif {
    font-family: 'PT Serif', serif;
}

.sans {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.background-wrapper {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.curve {
    border-radius: 0 0 100% 100%;
}

#error-explanation {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.img-fluid {
    width: 100%;
    height: auto;
}

//formatting tags
.tag {
    border-radius: 22px;
}

.tags {
    padding-left: 2.5vh;
}

//padding and margins
.no-pad {
    padding: 0 !important;
}

.marg-top-0 {
    margin-top: 0 !important;
}

.marg-top-25 {
    margin-top: 2.5vh !important;
}

.marg-top-50 {
    margin-top: 5vh !important;
}

.marg-bot-25 {
    margin-bottom: 2.5vh !important;
}

.marg-bot-50 {
    margin-bottom: 5vh !important;
}

.marg-bot-0 {
    margin-bottom: 0 !important;
}

.pad-all-25 {
    padding: 2.5vh;
}

.pad-all-5 {
    padding: 5vh;
}

.pad-all-10 {
    padding: 10vh;
}

.pad-sides-30 {
    padding: 0 30vw;
}

.pad-bot-0 {
    padding-bottom: 0 !important;
}

.pad-bot-25 {
    padding-bottom: 2.5vh !important;
}

.pad-bot-50 {
    padding-bottom: 5vh !important;
}

.pad-bot-75 {
    padding-bottom: 7.5vh !important;
}

.pad-bot-100 {
    padding-bottom: 10vh !important;
}

.pad-top-0 {
    padding-top: 0 !important;
}

.pad-top-25 {
    padding-top: 2.5vh !important;
}

.pad-top-50 {
    padding-top: 5vh !important;
}

.pad-top-75 {
    padding-top: 7.5vh !important;
}

.pad-top-100 {
    padding-top: 10vh !important;
}

.full-width {
    width: 100% !important;
}

.no-border {
    border: 0px solid transparent;
}

//formatting bubbles
.bubble {
    background: white;
    box-shadow: 0 0 12px rgba(0, 0, 0, .15);
    border-radius: 5vh;
    padding: 5vh 0;

    img {
        padding-bottom: 2.5vh;
    }

    .bubble-title {
        padding: 0 5vh;
    }

    .content,
    .collapser {
        padding: 0 5vh;
        transition: all 0.2s ease;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    h2 {
        padding-bottom: 1.25vh;
    }

    .collapser i {
        font-size: 125%;
    }

    .content li {
        margin: 1.25vh 0;
    }

    .sub-content {
        padding: 2.5vh 5vh 2.5vh 5vh;

        p {
            margin-bottom: 0.5rem;
        }
    }

    .collapser.sub-collapser {
        padding: 2.5vh 7.5vh 2.5vh 5vh;

        .fa {
            top: 3vh;
        }
    }

    .sub-collapser {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
        background: whitesmoke;

        p.title {
            margin: 0;
            font-weight: bold;
        }

        i {
            padding: 0;
            font-size: 100%;
        }
    }
}

.rotate {
    transition: all 0.2s ease;
    -webkit-transform: rotate(180deg) !important;
    -moz-transform: rotate(180deg) !important;
    -ms-transform: rotate(180deg) !important;
    transform: rotate(180deg) !important;
}

.round {
    border-radius: 1.25vh;
}

.img-circ {
    border-radius: 100%;
}
