/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require prism
 *= require_tree .
 */
@import "bootstrap";
// general formatting
body {
    a {
        transition: all 0.2s ease;
    }

    a:active,
    a:hover,
    a:visited {
        text-decoration: none;
    }
}
// nav formatting
.navbar {
    background: white;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.navbar-toggler {
    height: 55px;
    display: table-cell;
    text-align: middle;
    vertical-align: middle;
    top: 0;
}

.navbar-toggler .icon-bar {
    background-color: #888;
}

.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:visited {
    border: 0 solid transparent !important;
    outline: 0 !important;
}

.navbar-toggler {
    background: transparent !important;

    &:hover {
        background: transparent !important;
    }

    .icon-bar {
        width: 22px;
        transition: all 0.2s;
    }

    .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }

    .middle-bar {
        opacity: 0;
    }

    .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
}

.navbar-toggler.collapsed {
    .top-bar {
        transform: rotate(0);
    }

    .middle-bar {
        opacity: 1;
    }

    .bottom-bar {
        transform: rotate(0);
    }
}

.navbar-space {
    display: block;
    width: 100%;
    height: 50px;
}
// useful classes for general use
.space {
    display: block;
    width: 100%;
    height: 5vh;
}

.quote {
    font-size: 125%;
    font-style: italic;
    border-left: 4px solid rgba(0, 0, 0, .15);
    padding-left: 12px;
}

.btn-right {
    float: right;
    vertical-align: top;
}

.animate {
    transition: all 0.2s ease;
}

.no-scroll {
    overflow: hidden;
}

.min-30 {
    min-height: 30vh;
}

button,
button:active,
button:visited {
    outline: 0 !important;
}

label {
    width: 100%;
}

.tag {
    border-radius: 22px;
}

.time {
    color: #666666;
    font-style: italic;
}

.title {
    display: inline-block;
}

p .pitch {
    font-size: 250%;
}

.btn {
    cursor: pointer;
    cursor: hand;
}

.buttons {
    margin: 0 auto;
    text-align: center;

    button {
        margin: .25rem;
    }
}

.buttons-right {
    float: right;
    vertical-align: top;
}

.gray {
    background: whitesmoke;
    padding: 0 2.5vw;
}

.line {
    width: 100%;
    margin: 2.5vh 0;
    height: 1px;
    background: #eee;
}

#error-explanation {
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebcccc;
    color: #a94442;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.no-pad {
    padding: 0;
}

.pad-bot-25 {
    padding-bottom: 2.5vh;
}

.pad-bot-50 {
    padding-bottom: 5vh;
}

.pad-bot-75 {
    padding-bottom: 7.5vh;
}

.pad-bot-100 {
    padding-bottom: 10vh;
}

.pad-top-25 {
    padding-top: 2.5vh;
}

.pad-top-50 {
    padding-top: 5vh;
}

.pad-top-75 {
    padding-top: 7.5vh;
}

.pad-top-100 {
    padding-top: 10vh;
}

.bubble {
    background: white;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .15);
    border-radius: 5vh;
    padding: 5vh 0;
    h2, .content {
        padding: 0 5vh;
    }
}

.bg {
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

#landscape {
    background-image: image-url('landscape.svg');
}

// secondary navigation
.nav-sub {
    padding: 0.5rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, .15);
    border-bottom: 1px solid rgba(0, 0, 0, .15);

    .nav-wrapper {
        display: table;
        margin: 0 auto;
        width: auto;
        text-align: center
    }
    a {
        display: inline-block;
        color: rgba(0, 0, 0, 0.5);
        padding: 0.75rem;
    }
    a:hover {
        color: rgba(0, 0, 0, 0.7);
    }
}

.nav-sub ul {
    text-align: center;
}

// footer styling
footer {
    padding: 2.5vh 5vw;
    width: 100%;
    background: #004080;
    color: white;
}

footer a {
    transition: all 0.25s ease;
    color: white;
}

footer a:active,
footer a:hover,
footer a:visited {
    color: white;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 2.5vh 0;
    margin: 0;
    display: inline-block;
}

footer li {
    width: auto;
    font-size: 125%;
    display: inline-block;
}

footer .links li {
    padding-right: 2.5vw;
}

footer .links li .last {
    padding-right: 0;
}

footer .social {
    float: right;
    color: white;
    padding: 1.25vh 0;
}

footer .social li.spacer {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 42px;
}

footer .social li.icon {
    border-radius: 100%;
    border: 2px solid white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 42px;
    width: 42px;
    transition: all 0.2s ease;
    cursor: pointer;
    cursor: hand;
}

footer .social li i {
    transition: all 0.2s ease;
}

footer .social li.icon:hover {
    background: white;
}

footer .social li.icon:hover i {
    color: #004080;
}

.footer-line {
    margin: 0;
    height: 2px;
    width: 100%;
    background: white;
}

footer p {
    padding: 2.5vh 0;
}

.footer-bottom {
    padding: 1vh 5vw;
    width: 100%;
    background: #00264d;
}

.footer-bottom p {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
    color: gray;
}

.footer-bottom a {
    color: #0059b3;
    transition: all 0.25s ease;
}

.footer-bottom a:hover {
    color: #0066cc;
}
