.back-to-top-fixed {
    position: fixed;
    bottom: 0;
}

.back-to-top-absolute {
    position: absolute;
    -ms-transform: translateY(-92.8px); /* IE 9 */
    -webkit-transform: translateY(-92.8px); /* Safari */
    transform: translateY(-92.8px);
}

.back-to-top {
    padding: 18px;
    z-index: 5;
    color: rgb(100, 100, 100) !important;
    text-decoration: none !important;
    right: 0;

    h3, a, i {
        color: rgb(100, 100, 100) !important;
    }

    a,
    a:hover,
    a:visited,
    a:active,
    a:link {
        text-decoration: none;
    }

    h3 {
        font-weight: normal;
    }

    h3 span {
        opacity: 0;
        font-size: 1rem !important;
        transition: all 0.2s ease-in-out;
    }

    i {
        font-size: 3rem;
        line-height: 0;
        vertical-align: middle;
        transition: all 0.2s ease-in-out;
    }

    a:hover i {
        transform: scale(1.1);
    }

    a:hover h3 span {
        opacity: 1;
    }
}
