.comment {
    color: #666666 !important;
    padding: 2.5vh;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin: 2.5vh 0;
    background: white;
    border-radius: 1.25vh;
    box-shadow: 0px 0px 1.25vh rgba(0, 0, 0, 0.15);
}
