// $bg: #004080;
$bg: #1a8cff;
// $bot: #00264d;
$bot: #0b4074;
$font: white;

// formatting for the footer#footer
footer#footer {
    padding: 2.5vh 5vw;
    width: 100%;
    background: $bg;
    background: -webkit-linear-gradient(left top, #1a8cff, #1059a2);
    background: -o-linear-gradient(bottom right, #1a8cff, #1059a2);
    background: -moz-linear-gradient(bottom right, #1a8cff, #1059a2);
    background: linear-gradient(to bottom right, #1a8cff, #1059a2);
    color: $font;
}

footer#footer a {
    transition: all 0.25s ease;
    color: $font;
}

footer#footer a:active,
footer#footer a:hover,
footer#footer a:visited {
    color: $font;
    text-decoration: none;
}

footer#footer ul {
    list-style: none;
    padding: 2.5vh 0;
    margin: 0;
    display: inline-block;
}

footer#footer li {
    width: auto;
    font-size: 125%;
    display: inline-block;
}

footer#footer .links li {
    padding-right: 2.5vw;
}

footer#footer .links li .last {
    padding-right: 0;
}

footer#footer .social {
    float: right;
    color: $font;
    padding: 1.25vh 0;
}

footer#footer .social li.spacer {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 42px;
}

footer#footer .social li.icon {
    border-radius: 100%;
    border: 2px solid $font;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 42px;
    width: 42px;
    transition: all 0.2s ease;
    cursor: pointer;
    cursor: hand;
}

footer#footer .social li i {
    transition: all 0.2s ease;
}

footer#footer .social li.icon:hover {
    background: $font;
}

footer#footer .social li.icon:hover i {
    color: $bg;
}

.footer-line {
    margin: 0;
    height: 2px;
    width: 100%;
    background: $font;
}

footer#footer p {
    padding: 2.5vh 0;
}

.footer-bottom {
    padding: 1vh 5vw;
    width: 100%;
    background: $bot;
    min-height: 34px;
}

.footer-bottom p {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    color: gray;
}
