// formatting for the footer
footer {
    padding: 2.5vh 5vw;
    width: 100%;
    background: #004080;
    color: white;
}

footer a {
    transition: all 0.25s ease;
    color: white;
}

footer a:active,
footer a:hover,
footer a:visited {
    color: white;
    text-decoration: none;
}

footer ul {
    list-style: none;
    padding: 2.5vh 0;
    margin: 0;
    display: inline-block;
}

footer li {
    width: auto;
    font-size: 125%;
    display: inline-block;
}

footer .links li {
    padding-right: 2.5vw;
}

footer .links li .last {
    padding-right: 0;
}

footer .social {
    float: right;
    color: white;
    padding: 1.25vh 0;
}

footer .social li.spacer {
    display: inline-block;
    vertical-align: middle;
    width: 8px;
    height: 42px;
}

footer .social li.icon {
    border-radius: 100%;
    border: 2px solid white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 42px;
    width: 42px;
    transition: all 0.2s ease;
    cursor: pointer;
    cursor: hand;
}

footer .social li i {
    transition: all 0.2s ease;
}

footer .social li.icon:hover {
    background: white;
}

footer .social li.icon:hover i {
    color: #004080;
}

.footer-line {
    margin: 0;
    height: 2px;
    width: 100%;
    background: white;
}

footer p {
    padding: 2.5vh 0;
}

.footer-bottom {
    padding: 1vh 5vw;
    width: 100%;
    background: #00264d;
    min-height: 34px;
}

.footer-bottom p {
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
    color: gray;
}

.footer-bottom a {
    color: #0059b3;
    transition: all 0.25s ease;
}

.footer-bottom a:hover {
    color: #0066cc;
}
